body {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}

.container {
  width: 1441px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.join {
  background-color: transparent;
  border: none;
}

.button {
  background-color: transparent;
  outline: none;
  border: none;
}

.icon {
  fill: #d4d6d4;
}

.icon:hover,
.icon:focus {
  fill: #ffd723;
}

.logotypes {
  position: absolute;
  left: 165px;
  margin-top: -103px;
  background-color: #FFFFFF;
  width: 1276px;
  height: 227px;
}

.logotypes-container {
  right: 0;
  padding: 60px 166px 54px 65px;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 2px;
}

.logotypes-list {
  display: flex;
}

.logotypes-item:not(:last-child) {
  margin-right: 66px;
}

.logotypes-img {
  width: 156px;
  height: 113px;
}

.header {
  position: absolute;
  top: 24px;
  padding-left: 165px;
  padding-right: 165px;
}

.header-container {
  display: flex;
  width: 1111px;
}

.menu {
  margin-left: auto;
}

.hero {
  background-image: url(../image/fon/Slider.jpg);
  background-size: cover;
  width: 100%;
  max-width: 1441px;
  height: 811px;
}

.hero-container {
  padding-left: 144px;
  padding-top: 199px;
}

.hero-subtitle {
  font-size: 14px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 22px;
}

.hero-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.23;
  color: #FFFFFF;
  margin-bottom: 24px;
  max-width: 616px;
}

.hero-description {
  font-size: 16px;
  line-height: 1.63;
  color: #FFFFFF;
  margin-bottom: 45px;
  max-width: 581px;
}

.benefits-container {
  display: flex;
  padding-left: 165px;
  padding-right: 165px;
  padding-bottom: 150px;
}

.benefits-wrapper {
  display: flex;
}

.benefits-desc {
  width: 475px;
  height: 366px;
  margin-right: 160px;
  margin-top: 244px;
  margin-bottom: 34px;
}

.benefits-subtitle {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 29px;
  color: rgba(77, 83, 60, 0.9);
}

.benefits-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.28;
  color: #4D533C;
  margin-bottom: 35px;
  max-width: 475px;
}

.benefits-description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 42px;
  max-width: 475px;
}

.benefits-example {
  width: 474px;
  height: 644px;
  background: #FFFFFF;
  box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
}

.benefits-example__description {
  width: 426px;
  height: 200px;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.67;
  color: #4D533C;
  margin-left: 40px;
  margin-top: 244px;
}

.benefits-example__author {
  width: 358px;
  height: 90px;
  display: flex;
  margin-left: 40px;
  margin-top: 50px;
}

.benefits-example__author-name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  color: #4D533C;
}

.benefits-example__author-position {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #152934;
}

.project-container__upper {
  display: flex;
  padding-top: 150px;
  padding-left: 165px;
  padding-right: 299px;
  padding-bottom: 110px;
}

.project-title__upper {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  color: #4D533C;
  max-width: 325px;
}

.project-desk__upper {
  font-size: 16px;
  line-height: 1.62;
  color: rgba(33, 56, 66, 0.6);
  max-width: 518px;
  margin-left: 133px;
}

.project-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.28;
  color: #4D533C;
}

.project-item {
  display: flex;
}

.project-item__first {
  width: 1307px;
  height: 615px;
}

.project-item__second {
  width: 1268px;
  height: 585px;
}

.project-item__third {
  width: 1305px;
  height: 590px;
}

.project-item:not(:last-child) {
  margin-bottom: 101px;
}

.project-item:last-child {
  margin-bottom: 150px;
}

.project-description__up,
.project-description__down {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: rgba(33, 56, 66, 0.6);
}

.project-img {
  display: block;
  width: 735px;
  height: 550px;
}

.project-desc {
  max-width: 475px;
  min-height: 397px;
  margin-left: 55px;
  margin-top: 82px;
  margin-bottom: 24px;
}

.project-desc__left {
  max-width: 475px;
  min-height: 397px;
  margin-right: 58px;
  margin-left: 172px;
  margin-top: 82px;
  margin-bottom: 24px;
}

.project-title {
  margin-bottom: 24px;
}

.project-description__up {
  margin-bottom: 26px;
}

.project-description__down-first {
  margin-bottom: 93px;
}

.project-description__down-second {
  margin-bottom: 90px;
}

.project-description__down-third {
  margin-bottom: 116px;
}

.project-example {
  padding: 30px 33px 30px 30px;
  position: absolute;
  width: 453px;
  height: 243px;
  background: #FFFFFF;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 8px;
}

.project-example__first {
  position: absolute;
  left: 322px;
  top: 2337px;
}

.project-example__second {
  position: absolute;
  left: 490px;
  top: 3030px;
}

.project-example__third {
  position: absolute;
  left: 323px;
  top: 3747px;
  height: 210px;
}

.project-example__desc {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #4D533C;
}

.project-example__author {
  display: flex;
}

.project-example__author-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #4D533C;
  margin-top: 34px;
}

.project-example__author-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #152934;
}

.product {
  padding: 150px 165px 322px;
}

.product-container {
  width: 1110px;
  height: 461px;
}

.product-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.28;
  color: #4D533C;
  margin-bottom: 60px;
  max-width: 607px;
}

.product-list {
  display: flex;
}

.product-item {
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 309px;
}

.product-item:not(:last-child) {
  margin-right: 30px;
}

.product-item__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.42;
  text-transform: uppercase;
  color: #4D533C;
  margin-bottom: 20px;
}

.product-item__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  color: rgba(33, 56, 66, 0.6);
  max-width: 194px;
}

.product-item__button {
  margin-top: auto;
  align-self: start;
  background-color: transparent;
  outline: none;
  border: none;
  margin-bottom: 36px;
}

.product-item__icon {
  fill: #d4d6d4;
}

.product-item__button .product-item__icon:hover,
.product-item__button .product-item__icon:focus {
  fill: #ffd723;
}

.footer-container {
  position: relative;
  padding: 310px 165px 30px;
}

.footer-join {
  position: absolute;
  width: 1275px;
  height: 362px;
  left: 0;
  top: -182px;
  background: #FAFAFA;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
  z-index: 1;
}

.footer-join__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.23;
  color: #4D533C;
  padding: 70px 289px 50px 164px;
}

.footer-join__button {
  background-color: transparent;
  outline: none;
  border: none;
  margin-left: 164px;
  margin-bottom: 71px;
}

.footer {
  background-image: url(../../image/Bg.png), url(../../image/Object.jpg);
  background-size: cover;
}

.addrest-list {
  display: flex;
  margin-bottom: 52px;
}

.addres-item:not(:last-child) {
  margin-right: 128px;
}

.addres-name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #B6C197;
}

.addres-link {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 2.5;
  color: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */