h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.subtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

.join {
  background-color: transparent;
  border: none;
}

.container {
  width: 1441px;
}

.header {
  position: absolute;
  top: 24px;
  padding-left: 165px;
  padding-right: 165px;
}

.header-container {
  display: flex;
  width: 1111px;
}

.menu {
  margin-left: auto;
}

.hero {
  background-image: url(../image/fon/Slider.jpg);
  background-size: cover;
  width: 100%;
  max-width: 1441px;
  height: 811px;
}

.hero-container {
  padding-left: 144px;
  padding-top: 199px;
}

.hero-subtitle {
  color: #FFFFFF;
  margin-bottom: 22px;
}

.hero-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.23;
  color: #FFFFFF;
  margin-bottom: 24px;
  max-width: 616px;
}

.hero-description {
  color: #FFFFFF;
  margin-bottom: 45px;
  max-width: 581px;
}

.logotypes {
  position: absolute;
  left: 165px;
  margin-top: -103px;
  background-color: #FFFFFF;
  width: 1276px;
  height: 227px;
}

.logotypes-container {
  right: 0;
  padding: 60px 166px 54px 65px;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 2px;
}

.logotypes-list {
  display: flex;
}

.logotypes-item:not(:last-child) {
  margin-right: 66px;
}

.logotypes-img {
  width: 156px;
  height: 113px;
}

.benefits-container {
  display: flex;
  padding-left: 165px;
  padding-right: 165px;
  padding-bottom: 150px;
}

.benefits-desc {
  width: 475px;
  height: 366px;
  margin-right: 160px;
  margin-top: 244px;
  margin-bottom: 34px;
}

.benefits-subtitle {
  margin-bottom: 29px;
  color: rgba(77, 83, 60, 0.9);
}

.benefits-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.28;
  color: #4D533C;
  margin-bottom: 35px;
  max-width: 475px;
}

.benefits-description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 42px;
  max-width: 475px;
}

.benefits-example {
  width: 474px;
  height: 644px;
  background: #FFFFFF;
  box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
}

.example-description {
  width: 426px;
  height: 200px;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.67;
  color: #4D533C;
  margin-left: 40px;
  margin-top: 244px;
}

.example-author {
  width: 358px;
  height: 90px;
  display: flex;
  margin-left: 40px;
  margin-top: 50px;
}

.example-author__name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  color: #4D533C;
}

.example-author__position {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #152934;
}
/*# sourceMappingURL=main.css.map */