.container {
    width: 1441px;
}

.header {
    position: absolute;
    top: 24px;
    padding-left: 165px;
    padding-right: 165px;
}

.header-container {
    display: flex;
    width: 1111px;
}

.menu {
    margin-left: auto;
}